{% load static %}

<div class="header_flex">
    <div class="header_grid">
        <a href="{% url 'shop:index' %}"><div class="header_logo">
            <div>Sho<span class="red_text">p</span></div>
        </div></a>

        {% if user.is_authenticated %}
            <a href="{% url 'users:cabinet' %}"><div class="button_header">
                <div>Кабинет</div>
            </div></a>
            <a href="{% url 'users:logout' %}"><div class="button_header">
                <div>Выход</div>
            </div></a>
        {% else %}
            <a href="{% url 'users:signup' %}"><div class="button_header">
                <div>Регистрация</div>
            </div></a>
            <a href="{% url 'users:login' %}"><div class="button_header">
                <div>Вход</div>
            </div></a>
        {% endif %}
    </div>


    <div class="header_grid">
        <div class="button_header">Корзина</div>
    </div>
</div>

<div class="dividing_line"></div>