{% load static %}

<div class="header_flex">
    <div class="header_grid">
        <a href="{% url 'shop:index' %}"><div class="header_logo">
            <div>Sho<span class="red_text">p</span></div>
        </div></a>

        {% if user.is_authenticated %}
            <a href="{% url 'users:cabinet' %}"><div class="button_header">
                <div>Кабинет</div>
            </div></a>

            <form method="post" onsubmit="return confirm('Вы точно хотите выйти?')" action="{% url 'users:logout' %}">
                  {% csrf_token %}
                  <input type="submit" value="Выход" class="button_form">
            </form>

            <div class="text_user">Пользователь: <span class="red_text">{{ user }}</span></div>
        {% else %}
            <a href="{% url 'users:signup' %}"><div class="button_header">
                <div>Регистрация</div>
            </div></a>
            <a href="{% url 'users:login' %}"><div class="button_header">
                <div>Вход</div>
            </div></a>
        {% endif %}
    </div>


    <div class="header_grid">
        <form action="{% url 'shop:search_product' %}">
            <input type="text" class="input_search" name="q">
            <input type="submit" value="Поиск" class="button_search">
        </form>
        <a href="{% url 'users:shopping_cart' %}"><div class="button_header">Корзина</div></a>
    </div>
</div>

<div class="dividing_line"></div>