{% load static %}

<div class="header_flex">
    <div class="header_grid">
        <a href="{% url 'shop:index' %}"><div class="header_logo">
            <div>Sho<span class="red_text">p</span></div>
        </div></a>
        <div class="button_header">
            <div>Регистрация</div>
        </div>
        <div class="button_header">
            <div>Вход</div>
        </div>
    </div>


    <div class="header_grid">
        <div class="button_header">Корзина</div>
    </div>
</div>

<div class="dividing_line"></div>