{% extends "base.html" %}

{% load form_filters %}

{% block title %} Интернет магазин. {{ category.name }} {% endblock %}

{% block content %}

<div class="caption">Каталог товаров</div>

<div class="shop_main">

    <aside>
        {% include "includes/aside_categories.html" %}
        <div class="dividing_vertical_line"></div>
    </aside>

    <div class="product_category">

        <!-- блок отображения очереди каталога -->
        <div class="category_caption">
            <a href="{% url 'shop:index' %}">Главная</a>
            {% for category in category_queue %}
                -> <a href="{% url 'shop:category' category.slug %}?order={{ current_order }}"> {{ category.name }}</a>
            {% endfor %}
        </div>

        <!-- блок отображения дочерних категорий текущей категории -->
        {% if child_categorys %}
        <div class="grid_category">
            {% for category in child_categorys %}
            <div>
                <a href="{% url 'shop:category' category.slug %}?order={{ current_order }}">
                    <div><img src="{{ category.image.url }}" class="img_category"></div>
                    <div>{{ category.name }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- блок отображения сортировки -->
        <div class="dividing_line_filter"></div>
        <div class="flex_horizontal">
            <form method="get">
                {{ form_ordering.order|addclass:'sort_select' }}
                <input type="submit" name="ordering" value="Сортировать" class="button_sort">
            </form>
        </div>
        <div class="dividing_line_filter"></div>

        <!-- отображение товаров с пагинацией-->
        <div class="grid_category">
        {% for product in page_obj %}
            <div>
                <a href="{% url 'shop:product' product.id %}">
                <div><img src="{{ product.image_preview.url }}" class="img_category"></div>
                <div>{{ product.brand.name }} {{ product.name }}</div>
                <div>{{ product.price }} ₽</div>
                </a>
            </div>
        {% endfor %}
        </div>
        {% include "includes/paginator.html" %}
    </div>
</div>

{% endblock %}