{% extends "base.html" %}

{% block title %} Интернет магазин. {{ category.name }} {% endblock %}

{% block content %}

<div class="caption">Каталог товаров</div>

<div class="shop_main">

    <aside>
        <div>
            <a href="{% url 'shop:index' %}"><div class="category_caption">Категории</div></a>
            <!-- блок отображения дерева каталога -->
            {% for category in category_tree %}
                <div style="padding:0px {% widthratio category.nested 1 15 %}px;" class="{{ category.is_active }}">
					<a href="{% url 'shop:category' category.object.slug %}">{{ category.object.name }}</a>
				</div>
            {% endfor %}
        </div>
        <div class="dividing_vertical_line"></div>
    </aside>

    <div class="product_category">

        <!-- блок отображения очереди каталога -->
        <div class="category_caption">
            <a href="{% url 'shop:index' %}">Главная</a>
            {% for category in category_queue %}
                -> <a href="{% url 'shop:category' category.slug %}"> {{ category.name }} </a>
            {% endfor %}
        </div>

        <!-- блок отображения дочерних категорий текущей категории -->
        {% if child_categorys %}
        <div class="category_caption" align="center">{{ category.name }}</div>
        <div class="grid_category">
            {% for category in child_categorys %}
            <div>
                <a href="{% url 'shop:category' category.slug %}">
                    <div><img src="{{ category.image.url }}" class="img_category"></div>
                    <div>{{ category.name }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="dividing_line_filter"></div>
        <div class="flex_horizontal">
            <form>
                <select class="sort_select">
                    <option>По алфавиту</option>
                    <option>По имени</option>
                </select>
                <input type="submit" value="Сортировать" class="button_sort">
            </form>
        </div>
        <div class="dividing_line_filter"></div>

        <div class="grid_category">
            <div>
                <a href="">
                <div><img src="img/product_250x250.png" class="img_category"></div>
                <div>Компьютер</div>
                </a>
            </div>

            <div>
                <a href="">
                <div><img src="img/product_250x250.png" class="img_category"></div>
                <div>Компьютер</div>
                </a>
            </div>

            <div>
                <a href="">
                <div><img src="img/product_250x250.png" class="img_category"></div>
                <div>Компьютер</div>
                </a>
            </div>

            <div>
                <a href="">
                <div><img src="img/product_250x250.png" class="img_category"></div>
                <div>Компьютер</div>
                </a>
            </div>

            <div>
                <a href="">
                <div><img src="img/product_250x250.png" class="img_category"></div>
                <div>Компьютер</div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}