{% extends "base.html" %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

<div class="caption">{{ product.name }}</div>

<div class="shop_main">
    <aside>
        {% include "includes/aside_categories.html" %}
        <div class="dividing_vertical_line"></div>
    </aside>

    <div class="product_category">

        <!-- блок отображения очереди каталога -->
        <div class="category_caption">
            <a href="{% url 'shop:index' %}">Главная</a>
            {% for category in category_queue %}
                -> <a href="{% url 'shop:category' category.slug %}"> {{ category.name }} </a>
            {% endfor %}
        </div>

        <div class="grid_category">
            {% for image in images %}
                <div>
                    <a href="{{ image.image.url }}" target="_blank">
                    <div><img src="{{ image.image.url }}" width="100%"></div>
                    </a>
                </div>
            {% endfor %}
        </div>

          <div class="product_data_grid">
            <div class="product_data_self">Бренд:</div>
            <div class="product_data_self">{{ product.brand }}</div>
          </div>
          <div class="product_data_grid">
            <div class="product_data_self">Имя:</div>
            <div class="product_data_self">{{ product.name }}</div>
          </div>
          <div class="product_data_grid">
            <div class="product_data_self">Описание:</div>
            <div class="product_data_self">{{ product.description }}</div>
          </div>
          <div class="product_data_grid">
            <div class="product_data_self">Цена:</div>
            <div class="product_data_self">{{ product.price }} ₽</div>
          </div>

        <div class="buttons_product">
            {% if is_in_shopping_cart_product %}
                <a href="{% url 'users:shopping_cart' %}"><div class="button_header small_text">
                    <div>Товар в корзине</div>
                </div></a>
            {% else %}
                <a href="{% url 'shop:add_product_in_shopping_cart' product.id %}"><div class="button_header">
                    <div>В корзину</div>
                </div></a>
            {% endif %}

            {% if is_favorite_product %}
                <a href="{% url 'shop:add_del_favorite' product.id %}"><div class="button_header small_text">
                    <div>Из избранного</div>
                </div></a>
            {% else %}
                <a href="{% url 'shop:add_del_favorite' product.id %}"><div class="button_header">
                    <div>В избранное</div>
                </div></a>
            {% endif %}
            <div class="empty"></div>
        </div>
    </div>
</div>
{% endblock %}