{% extends "base.html" %}

{% load form_filters %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

<div class="login">

    <div class="login_block">
        {% if validlink %}
            <div class="login_title">Введите новый пароль</div>

            {% if user.is_authenticated %}
                <span class="red_text warning_text">
                    Вы уже вошли на сайт под именем - {{ user.username }}.
                    Войдите в личный кабинет, если хотите поменять пароль.
                </span>

            {% else %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="red_text warning_text">{{ error|escape }}</div>
                        {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <div class="red_text warning_text">{{ error|escape }}</div>
                    {% endfor %}
                {% endif %}

                <form method="post" {% if action_url %} action="{% url action_url %}" {% endif %} class="login_form">
                    {% csrf_token %}

                    {% for field in form %}
                        <div>
                            <label for="{{ field.id_for_label }}">
                                {{ field.label }}: {% if field.field.required %}<span class="red_text">*</span>{% endif %}
                            </label>
                            <div>{{ field|addclass:'input_text' }}</div>
                        </div>
                    {% endfor %}

                    <input type="submit" value="Назначить новый пароль" class="signup_button">
                </form>
            {% endif %}
        {% else %}
            <div class="red_text">Ссылка сброса пароля содержит ошибку или устарела.</div>
        {% endif %}
    </div>

</div>
{% endblock %}
