{% extends "base.html" %}

{% load form_filters %}

{% block title %} Пароль изменен {% endblock %}

{% block cabinet_data %}

    <div class="login">

        <div class="login_block">

            {% if user.is_authenticated %}
                <div class="login_title">Смена пароля</div>
                Пароль изменен успешно.
            {% else %}
                <span class="red_text warning_text">
                    Войдите в личный кабинет, если хотите поменять пароль.
                </span>
            {% endif %}
        </div>

    </div>

{% endblock %}
