{% extends "base.html" %}

{% load form_filters %}

{% block title %}Сброс пароля прошёл успешно{% endblock %}

{% block content %}

<div class="login">

    <div class="login_block">

        {% if user.is_authenticated %}
            <span class="red_text warning_text">
                Вы уже вошли на сайт под именем - {{ user.username }}.
                Войдите в личный кабинет, если хотите поменять пароль.
            </span>

        {% else %}

            <div class="login_title">Сброс пароля прошел успешно</div>

            <p>
              Войдите на сайт под своим именем с новым паролем
            </p>

        {% endif %}
    </div>

</div>
{% endblock %}