{% extends "base_cabinet.html" %}

{% load form_filters %}

{% block title %} Корзина товаров{% endblock %}

{% block cabinet_data %}
<div class="cabinet_caption">Корзина</div>

{% if products %}
<div class="product_category">
      {% for product in products %}
            <div class="product_cart_grid">
                  <div class="product_cart_self center_text">{{ forloop.counter }}</div>
                  <a href="{% url 'shop:product' product.product.id %}"><div><img src="{{ product.product.image_preview.url }}" class="img_category" width="150px"></div></a>
                  <div class="product_cart_self">
                        <div>{{ product.product.category }}</div>
                        <a href="{% url 'shop:product' product.product.id %}"><div>{{ product.product.name }}</div></a>
                        <div>{{ product.product.description }}</div>
                        <div>{{ product.product.price }}</div>
                  </div>
                  <a href="{% url 'shop:reduce_product_in_shopping_cart' product.product.id %}"><div class="button_small">-</div></a>
                  <div class="product_cart_self center_text">{{ product.amount }}</div>
                  <a href="{% url 'shop:increase_product_in_shopping_cart' product.product.id %}"><div class="button_small">+</div></a>
                  <div class="product_cart_self center_text">{% widthratio product.product.price 1 product.amount %}</div>
                  <a href="{% url 'shop:delete_product_in_shopping_cart' product.product.id %}"><div class="button_small">X</div></a>
            </div>
      {% endfor %}

      <div class="buttons_product">
            <div class="button_header">
                  <div>Оформить</div>
            </div>

            <form method="post" onsubmit="return confirm('Точно очистить корзину?')" action="{% url 'users:clean_shopping_cart' %}">
                  {% csrf_token %}
                  <input type="submit" value="Очистить корзину" class="button_form small_text">
            </form>
      </div>
</div>
{% else %}
    <div class="login"><div class="login_block">
          <div class="login_title">Корзина пуста.</div>
          Добавьте в корзину товар, чтобы совершить покупку.
    </div></div>
{% endif %}
{% endblock %}